@import './variables';

.tilt-animation {
  animation-name: tilt;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
}

@keyframes tilt {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(+30deg);
  }
  100% {
    transform: rotate(0);
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 2000ms, transform 500ms;
}
